@import "reset.css";
* {
  transition: all 300ms ease;
}

body {
  background-color: black;
}

.nav_mobile {
  display: none;
}

.int {
  color: #63FF49;
}

h1, h2, a, p, li {
  color: white;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
  /* width: 1042px; */
}

h2 {
  font-size: 48px;
}

p {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  width: 810px;
}
a {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

nav a {
  font-size: 36px;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

nav a.is-active {
  color: #FF49A0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 787px;
  position: fixed;
  margin-bottom: 45px;
  margin-top: 24px;
  margin-left: 20px;
  background-color: black;
}

.nav-back-block {
  display: none;
}

.navigation {
  height: 80px;
  z-index: 99;
  width: 1440px;
  position: fixed;
  background-color: black;
}

a {
  color: #63FF49;
}

a:hover {
  color: #FF49A0;
}

.link_none:hover, .link_footer:hover {
  color: #FF49A0;
}

hr {
  border: none;
  width: 100vw;
  background-color: #63FF49;
  height: 3px;
}

.news {
  font-size: 36px;
  width: 100%;
  color: #63FF49;
  cursor: pointer;
}

.news_line {
  position: relative;
  margin-bottom: 72px;
  background-color: black;
  z-index: 101;
  width: 100%;
}

.news_line_second {
  margin-bottom: 60px;
}

.first {
  margin-bottom: 220px;
  position:relative;
}
.second {
  margin-bottom: 220px;
  position:relative;
}
.third {
  position: relative;
}

.content {
  position: absolute;
  top: 120px;
  overflow: hidden;
  width: 100%;
}

.block {
  margin-left: 20px;
  width: 1165px;
}

.big_title {
  margin-bottom: 315px;
  width: 1000px;
}

.serv_title {
  font-size: 48px;
  margin-bottom: 60px;
}

.link_html {
  font-size: 48px;
  /* color: white; */
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.link_none {
  font-size: 48px;
  margin-bottom: 50px;
  /* color: white; */
  cursor: pointer;
}

footer {
  width: 827px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 120px;
  margin-left: 5px;
}

.link_footer {
  color: #63FF49;
  font-size: 24px;
  cursor: pointer;
}

.descr {
  margin-top: 30px;
}

.link_html:hover {
  color: #FF49A0;
}

.section {
  margin-bottom: 68px;
  position:relative;
}

.tower {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}


.planets {
  position: absolute;
  top: 380px;
  right: 0;
  z-index: 100;
}


.pluto {
  position: absolute;
  top: 286px;
  right: 0;
  z-index: 88;
}
.alien-hands {
  position: absolute;
  top: 997px;
  left: -10px;
  z-index: 88;
}
.president {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 88;
}

.book {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ПЛАКАТЫ */

.first-posters {
  margin-bottom: 66px;
}

.poster_section {
  margin-bottom: 50px;
}

.posters {
  margin-left: 20px;
  width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posters_title, .posters_descr {
  font-size: 48px;
  width: 1200px;
}

.poster_img {
  position: relative;
  /* opacity: 100; */
  z-index: 77;
}



.poster {
  background-color: black;
  position: relative;
}

.img_desc {
  position: absolute;
  top: 40px;
  left: 20px;
  color: black;
  width: 300px;
  display: none;
}

/* .posters_title {
  margin-bottom: 32px;
} */

.title {
  margin-bottom: 32px;
}

.history_descr {
  margin-bottom: 135px;
  /* width: 1165px; */
}

.first-history {
  margin-bottom: 396px;
}

.second-history {
  margin-bottom: 764px;
}

.third-history {
  margin-bottom: 154px;
}

.forth-history {
  margin-bottom: 140px;
}

.fifth-history {
  margin-bottom: 640px;
}

.history_text {
  margin-bottom: 60px;
}

.poster_descr {
  margin-top: 16px;
  font-size: 36px;
  width: 335px;
}

.poster_img:hover {
  border: 1px solid white;
}

.poster_img.click {
  display: none;
}

.mission_descr {
  margin-bottom: 66px;
  width: 1165px;
}

.first-mission {
  margin-bottom: 155px;
}

.second-mission {
  margin-bottom: 280px;
}

.third-mission {
  margin-bottom: 560px;
}

.forth-mission {
  margin-bottom: 100px;
}

.fifth-mission {
  /* margin-bottom: 501px; */
}

div.fifth-mission :first-child {
  margin-bottom: 65px;
}
/*
КАРТИНКИ */

#index-letter-title-1 {
  position: absolute;
  z-index: 88;
  top: 45px;
  left: 20px;
}
#index-letter-title-2 {
  position: absolute;
  z-index: 88;
  top: 220px;
  left: 65px;
}

#index-letter-desc-1 {
  position: absolute;
  z-index: 88;
  top: 680px;
  left: 84px;
}

#index-letter-desc-2 {
  position: absolute;
  z-index: 88;
  top: 700px;
  left: 414px;
}

#index-letter-history-1 {
  position: absolute;
  z-index: 88;
  top: 100px;
  left: 85px;
}

#index-letter-history-2 {
  position: absolute;
  z-index: 88;
  top: 70px;
  left: 375px;
}

#index-letter-poster-1 {
  position: absolute;
  z-index: 88;
  top: 80px;
  left: 140px;
}

#index-letter-poster-2 {
  position: absolute;
  z-index: 88;
  top: 90px;
  left: 300px;
}

#index-letter-mission {
  position: absolute;
  z-index: 88;
  top: 70px;
  left: 170px;
}

#index-letter-adaptation {
  position: absolute;
  z-index: 88;
  top: 200px;
  left: 120px;
}

#index-letter-adaptation {
  position: absolute;
  z-index: 88;
  top: 2372px;
  left: 140px;
}




#history-letter-title-1 {
  position: absolute;
  z-index: 88;
  top: 197px;
  left: 25px;
}

#history-letter-title-2 {
  position: absolute;
  z-index: 88;
  top: 320px;
  left: 650px;
}

#history-letter-title-3 {
  position: absolute;
  z-index: 88;
  top: 1790px;
  left: 292px;
}

#history-letter-title-4 {
  position: absolute;
  z-index: 88;
  top: 2385px;
  left: 204px;
}

#history-letter-title-5 {
  position: absolute;
  z-index: 88;
  top: 2668px;
  left: 26px;
}

#history-letter-desc-1 {
  position: absolute;
  z-index: 88;
  top: 596px;
  left: 154px;
}
#history-letter-desc-2 {
  position: absolute;
  z-index: 88;
  top: 596px;
  left: 407px;
}
#history-letter-desc-3 {
  position: absolute;
  z-index: 88;
  top: 2100px;
  left: 250px;
}
#history-letter-desc-4 {
  position: absolute;
  z-index: 88;
  top: 2119px;
  left: 356px;
}




#mission-letter-title-1 {
  position: absolute;
  z-index: 88;
  top: 83px;
  left: 500px;
}

#mission-letter-title-2 {
  position: absolute;
  z-index: 88;
  top: 639px;
  left: 314px;
}

#mission-letter-title-3 {
  position: absolute;
  z-index: 88;
  top: 1220px;
  left: 190px;
}

#mission-letter-title-4 {
  position: absolute;
  z-index: 88;
  top: 1837px;
  left: 108px;
}


#mission-letter-desc-1 {
  position: absolute;
  z-index: 88;
  top: 320px;
  left: 257px;
}

#mission-letter-desc-2 {
  position: absolute;
  z-index: 88;
  top: 350px;
  left: 170px;
}

@media (max-width: 1439px) {
  .tower {
    width: 75vw;
  }
  .block {
    width: 1140px;
  }
  .big_title {
    margin-bottom: 200px;
  }
  .fifth-history {
    margin-bottom: 532px;
  }


  .posters {
    width: 1340px;
  }
  .poster_img {
    width: 23vw;
  }
  .poster_section {
    width: 23vw;
  }
  .poster_descr {
    font-size: 24px;
  }
}

@media (max-width: 1365px) {
  .tower {
    width: 75vw;
  }
  .block {
    width: 1140px;
  }
  .big_title {
    margin-bottom: 230px;
  }
  .fifth-history {
    margin-bottom: 532px;
  }


  .posters {
    width: 1240px;
  }
  .poster_img {
    width: 23vw;
  }
  .poster_section {
    width: 23vw;
  }
  .poster_descr {
    font-size: 24px;
    width: 230px;
  }


  .first-mission {
    margin-bottom: 70px;
  }

  .big_title {
    width: 1000px;
    line-height: 1.2;
    margin-bottom: 160px;
  }

  #index-letter-title-1 {
    top: 55px;
    left: 0px;
    width: 40vw;
  }
  #index-letter-title-2 {
    top: 250px;
    left: 25px;
    width: 30vw;
  }

  #index-letter-desc-1 {
    top: 600px;
    left: 65px;
  }

  #index-letter-desc-2 {
    top: 700px;
    left: 414px;
  }

  #index-letter-history-1 {
    top: 100px;
    left: 85px;
  }

  #index-letter-history-2 {
    top: 70px;
    left: 375px;
  }

  #index-letter-poster-1 {
    top: 80px;
    left: 140px;
  }

  #index-letter-poster-2 {
    top: 90px;
    left: 300px;
  }

  #index-letter-mission {
    top: 70px;
    left: 170px;
  }

  #index-letter-adaptation {
    top: 200px;
    left: 120px;
  }

  #index-letter-adaptation {
    top: 2372px;
    left: 140px;
  }
}


@media (min-width: 1679px) {

  h1 {
    font-size: 96px;
    font-family: 'Roboto', sans-serif;
  }
  p {
    font-size: 36px;
    width: 1150px;
  }
  nav a {
    font-size: 48px;
  }
  .nav {
    width: 900px;
    margin-left: 40px;
  }
  .block {
    margin-left: 40px;
    width: 1530px;
  }
  .big_title {
    margin-bottom: 260px;
  }
  .link_html {
    font-size: 64px;
  }
  .serv_title {
    font-size: 64px;
    margin-bottom: 60px;
  }
  .link_none {
    font-size: 64px;
  }
  .news {
    font-size: 48px;
  }
  footer {
    width: 1320px;
    margin-left: 15px;
  }
  .link_footer {
    font-size: 36px;
  }


  .posters {
    margin-left: 40px;
    width: 1600px;
  }
  .poster_img {
    width: 23vw;
  }
  .poster_section {
    width: 23vw;
  }


  .history_descr {
    margin-bottom: 190px;
  }
  .first {
    margin-bottom: 270px;
  }
  .second-history {
    margin-bottom: 565px;
  }
  .forth-history {
    margin-bottom: 230px;
  }

}

@media (max-width: 1023px) {
  h1 {
    font-size: 36px;
  }
  .poster_descr {
    width: 335px;
  }
  h2 {
    font-size: 30px;
  }

  p {
    font-size: 24px;
    width: 600px;
  }
  a {
    font-size: 24px;
  }

  .nav {
    width: 470px;
  }

  nav a {
    font-size: 24px;
  }
  .block {
    width: 600px;
  }
  .big_title {
    margin-bottom: 210px;
  }
  .first {
    margin-bottom: 80px;
  }
  .second {
    margin-bottom: 250px;
  }
  .descr {
    margin-top: 10px;
  }
  .news {
    font-size: 24px;
  }
  .news_line {
    margin-bottom: 90px;
  }
  .serv_title {
    font-size: 36px;
  }

  .link_html {
    font-size: 36px;
  }

  .link_none {
    font-size: 36px;
  }
  footer {
    width: 730px;
  }
  .link_footer {
    font-size: 18px;
  }
  .posters {
    width: 730px;
  }
  .poster_section {
    width: 30vw;
  }
  .poster_img {
    width: 30vw;
  }
  .posters_title, .posters_descr {
    font-size: 30px;
    width: 600px;
  }
  .poster_descr {
    font-size: 24px;
    width: 190px;
  }


  .history_descr {
    margin-bottom: 150px;
  }
  .first-history {
    margin-bottom: 370px;
  }
  .third-history {
    margin-bottom: 100px;
  }

  .first-mission {
    margin-bottom: 200px;
  }
  .second-mission {
    margin-bottom: 315px;
  }
  .third-mission {
    margin-bottom: 420px;
  }

  .mission_descr {
    width: 600px;
  }
}

@media (max-width: 767px) {

  h1 {
    font-size: 30px;
  }
  .poster_descr {
    width: 335px;
  }
  h2 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
    width: 360px;
  }
  a {
    font-size: 24px;
  }
  .link_html {
    font-size: 30px;
  }
  .link_none {
    font-size: 30px;
  }
  .news_line_second {
    margin-bottom: 85px;
  }

  .big_title {
    margin-bottom: 165px;
  }

  .content {
    overflow: hidden;
  }

  .tower {
    width: 180vw;
    left: -70px;
  }

  .first {
    margin-bottom: 190px;
  }
  .news_line {
    margin-bottom: 60px;
  }
  .section {
    margin-bottom: 60px;
  }
  .second {
    margin-bottom: 175px;
  }

  footer {
    margin-top: 85px;
    height: 165px;
    margin-left: 15px;
    flex-direction: column;
  }

  .content {
    top: 110px;
  }
  .block {
    width: 360px;
  }
  .navigation {
    height: 90px;
  }
  .nav_mobile {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
  }
  .nav_mobile-back {
    display: none;
    position: fixed;
    z-index: 99;
    margin-left: 20px;
    margin-top: 30px;
  }
  .nav-back-block {
    height: 90px;
    width: 100%;
    display: none;
    background-color: #63FF49;
    position: fixed;
    z-index: 99;
  }
  .nav {
    display: none;
    position: fixed;
    z-index: 88;
    height: 135px;
    top: -100px;
    width: 150px;
    flex-direction: column;
    background-color: #63FF49;
  }


  .mission_descr {
    margin-bottom: 66px;
    width: 360px;
  }
  .third-mission {
    margin-bottom: 300px;
  }
  .book {
    width: 90vw;
  }


  .posters_title, .posters_descr {
    font-size: 30px;
    width: 380px;
  }
  .poster_descr {
    font-size: 20px;
    margin-top: 10px;
  }
  .posters {
    width: 380px;
  }
  .poster_section {
    width: 90vw;
  }
  .poster_img {
    width: 90vw;
  }
}

@media (max-width: 413px) {
  h1 {
    font-size: 24px;
  }
  .poster_descr {
    width: 335px;
  }
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
    width: 260px;
  }
  a {
    font-size: 24px;
  }
  hr {
    height: 2px;
  }
  footer {
    margin-top: 60px;
  }
  .link_html {
    font-size: 24px;
  }
  .link_none {
    font-size: 24px;
  }
  .link_footer {
    font-size: 18px;
  }
  .serv_title {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .first-history {
    margin-bottom: 270px;
  }
  .second-history {
    margin-bottom: 256px;
  }
  .fifth-history {
    margin-bottom: 320px;
  }
  .block {
    width: 330px;
  }
  .history_descr {
    width: 330px;
    margin-bottom: 100px;
  }

  .news_line_second {
    margin-bottom: 50px;
  }
  .second-history {
    margin-bottom: 260px;
  }


  .third-mission {
    margin-bottom: 315px;
  }
  .book {
    width: 90vw;
  }
  .mission_descr {
    width: 330px;
  }
  .first-mission {
    margin-bottom: 100px;
  }


  .posters_title, .posters_descr {
    font-size: 24px;
    width: 340px;
  }

}

@media (max-width: 374px) {

  .tower {
    width: 214vw;
  }
  .first-history {
    margin-bottom: 120px;
  }
  .history_descr {
    margin-bottom: 120px;
  }
  .fifth-history {
    margin-bottom: 300px;
  }
  .block {
    width: 280px;
  }
  .first-mission {
    margin-bottom: 80px;
  }
  .second-mission {
    margin-bottom: 215px;
  }



  .posters_title, .posters_descr {
    font-size: 24px;
    width: 280px;
  }
  .poster_descr {
    font-size: 18px;
    margin-top: 10px;
  }
  .posters {
    width: 280px;
  }
  .poster_section {
    width: 87vw;
  }
  .poster_img {
    width: 87vw;
  }

}
